GEMINI_API_KEY=AIzaSyB8bNgFtvQ1dsWeOjzafI5KKlRlj5gXhXw
VITE_SUPABASE_URL=http://localhost:54321
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhbHVtb2JxcGtkZ3N5dHdjYnFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4MjI0NDYsImV4cCI6MjA4MzM5ODQ0Nn0.Y_IpRXyMwaHYeT7YDWyVEvzG8hdyouv4ihLg-Rc0mJc
VITE_SITE_URL=http://localhost:5173
ADMIN_EMAIL=norman.martinez@reinventedpuembo.edu.ec
ADMIN_PASSWORD=1234567
